<main class="container project-dashboard">
  <div class="row project-dashboard-header">

    <div class="col-md-1 mr-auto">
      <button type="button" class="project-button-style mr-auto">
        <%= link_to 'New', new_project_path, class: "new-project-button" %>
      </button>
    </div>

    <div class="col-md-4">
      <h4 class="text-center project-title-name">Projects</h4>
    </div>
    <div class="col-md-1 ml-auto">
      <button class="btn dots-button ml-auto">...</button>
    </div>
  </div><!-- row -->

  <div class="row checklist-cards">
    <div class="col-md-4 checklist-col">
      <a href="#" class="checklist-card">
        <h4>Checklist Name</h4>
        <ul class="items-list">
          <li>item-1</li>
          <li>item-2</li>
          <li>item-3</li>
        </ul>
      </a>
    </div>
    <div class="col-md-4 checklist-col">
      <a href="#" class="checklist-card">
        <h4>Checklist Name</h4>
        <ul class="items-list">
          <li>item-1</li>
          <li>item-2</li>
          <li>item-3</li>
        </ul>
      </a>
    </div>
    <div class="col-md-4 checklist-col">
      <a href="#" class="checklist-card">
        <h4>Checklist Name</h4>
        <ul class="items-list">
          <li>item-1</li>
          <li>item-2</li>
          <li>item-3</li>
        </ul>
      </a>
    </div>
  </div>


</div><!-- container -->

