.project-dashboard {
  margin-top: 50px;
}

.project-button-style {
  background-color: #3c7ac3;
  border-radius: 5px;
  &:hover {
    background-color: #D6D3d3;
  }
}

.new-project-button {
  text-transform: uppercase;
  padding: 20px;
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 1px;
  &:hover {
    color: #dc4181;
    text-decoration: none;
  }
}

.project-title-name {
  font-size: 2.0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dots-button {
  font-size: 2.0em;
  font-weight: bold;
  color: #3c7ac3;
}

// card styling 
.checklist-cards {
  margin-top: 50px;
}

.checklist-card {
  display: block;
  background-color: #92CD89;
  color: #fff;
  border-radius: 5px;
  padding: 1.5rem;
  height: 100%;
  &:hover {
    text-decoration: none;
  }
}